<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Splitsies</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your Camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) Users lookup</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Black.otf</string>
		<string>SFProDisplay-BlackItalic.otf</string>
		<string>SFProDisplay-Bold.otf</string>
		<string>SFProDisplay-BoldItalic.otf</string>
		<string>SFProDisplay-Heavy.otf</string>
		<string>SFProDisplay-HeavyItalic.otf</string>
		<string>SFProDisplay-Light.otf</string>
		<string>SFProDisplay-LightItalic.otf</string>
		<string>SFProDisplay-Medium.otf</string>
		<string>SFProDisplay-MediumItalic.otf</string>
		<string>SFProDisplay-Regular.otf</string>
		<string>SFProDisplay-RegularItalic.otf</string>
		<string>SFProDisplay-Semibold.otf</string>
		<string>SFProDisplay-SemiboldItalic.otf</string>
		<string>SFProDisplay-Thin.otf</string>
		<string>SFProDisplay-ThinItalic.otf</string>
		<string>SFProDisplay-Ultralight.otf</string>
		<string>SFProDisplay-UltralightItalic.otf</string>
		<string>Avenir-Black.ttf</string>
		<string>Avenir-BlackOblique.ttf</string>
		<string>Avenir-Book.ttf</string>
		<string>Avenir-BookOblique.ttf</string>
		<string>Avenir-Heavy.ttf</string>
		<string>Avenir-HeavyOblique.ttf</string>
		<string>Avenir-Light.ttf</string>
		<string>Avenir-LightOblique.ttf</string>
		<string>Avenir-Medium.ttf</string>
		<string>Avenir-MediumOblique.ttf</string>
		<string>Avenir-Oblique.ttf</string>
		<string>Avenir-Roman.ttf</string>
		<string>SofiaProBlack-Italic.ttf</string>
		<string>SofiaProBlack.ttf</string>
		<string>SofiaProBold-Italic.ttf</string>
		<string>SofiaProBold.ttf</string>
		<string>SofiaProExtraLight-Italic.ttf</string>
		<string>SofiaProExtraLight.ttf</string>
		<string>SofiaProLight-Italic.ttf</string>
		<string>SofiaProLight.ttf</string>
		<string>SofiaProMedium-Italic.ttf</string>
		<string>SofiaProMedium.ttf</string>
		<string>SofiaProRegular-Italic.ttf</string>
		<string>SofiaProRegular.ttf</string>
		<string>SofiaProSemiBold-Italic.ttf</string>
		<string>SofiaProSemiBold.ttf</string>
		<string>SofiaProUltraLight-Italic.ttf</string>
		<string>SofiaProUltraLight.ttf</string>
		<string>ZillaSlab-Bold.ttf</string>
		<string>ZillaSlab-BoldItalic.ttf</string>
		<string>ZillaSlab-Italic.ttf</string>
		<string>ZillaSlab-Light.ttf</string>
		<string>ZillaSlab-LightItalic.ttf</string>
		<string>ZillaSlab-Medium.ttf</string>
		<string>ZillaSlab-MediumItalic.ttf</string>
		<string>ZillaSlab-Regular.ttf</string>
		<string>ZillaSlab-SemiBold.ttf</string>
		<string>ZillaSlab-SemiBoldItalic.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>$(PRODUCT_NAME) needs access to your Photos.</string>
</dict>
</plist>
